.App {
  text-align: center;
}

.App .container {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.cast-name-hilight {
  background-color: khaki;
}

.cursor-pointer {
  cursor: pointer;
}


.App {
  font-family: "游明朝体","YuMincho","Yu Mincho","ヒラギノ明朝 Pro W3","Hiragino Mincho Pro","ＭＳ 明朝","MS Mincho",serif;
}

.App .ui.button {
  margin: 0 .25em .25em 0;
}